@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
  --main: #141414;
  --shadow: #080808;
  --light: #202020;
}

* {
  padding: none;
  border: none;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  text-rendering: geometricPrecision;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--main);
  grid-gap: 10rem;
  min-height: 100vh;
  padding: 5rem;
}

.card {
  margin: auto;
  display: grid;
  grid-template-rows: 20fr 4fr 6fr 6fr 4fr;
  background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.05));
  width: 100%;
  height: 100%;
  max-width: 26rem;
  max-height: 40rem;
  border-radius: 1.5rem;
  box-shadow:  -2rem -2rem 4rem var(--light), 
                2rem 2rem 4rem var(--shadow);
  transition: 0.3s;

}

.card:hover {
  transform: scale(1.02);
}

.card .text {
  display: grid;
  grid-template-rows: 2.5fr 1.5fr;
  color: #DFDFDF;
  margin: auto;
}

.card h1 {
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: .2em;
}

.card h4 {
  margin: auto;
  font-weight: normal;
}

.pp {
  max-width: 14rem;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

.resume-container {
  margin: auto;
}

.btn-large {
  height: 3rem;
  width: 16rem;
  border-radius: 1rem;
  margin: auto;
  transition: 0.3s;
  background-size: 200% auto;
  background: linear-gradient(145deg, #23B738, #177724);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow:  0.5rem 0.5rem 2rem var(--shadow), 
               -0.5rem -0.5rem 2rem var(--light);
  font-size: 1.35rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.btn-large:hover {
  box-shadow:  0.5rem 0.5rem 1rem var(--shadow), 
               -0.5rem -0.5rem 1rem var(--light);
  background-position: center;
  cursor: pointer;
  transform: scale(1.015);
}

.btn-large:active {
  background-position: right center;
  box-shadow:  0.5rem 0.5rem 1.1rem var(--shadow), 
              -0.5rem -0.5rem 1.1rem var(--light);
  cursor: pointer;
  transform: scale(1.007);
}

.other-btn {
  margin: auto;
  display: grid;
  grid-gap: 2.75rem;
  grid-template-columns: repeat(3, 1fr);
}

.btn-small {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  margin: auto;
  color: #D5E3F0;
  font-size: 1.4rem;
}

.btn-small:hover {
  background-position: center;
  cursor: pointer;
  transform: scale(1.015);
}

.btn-small:active {
  background-position: right center;
  cursor: pointer;
  transform: scale(1.007);
}

.btn-github {
  color:#634C85;
  background: var(--main);
  box-shadow: inset 3px 3px 6px var(--shadow), 
              inset -3px -3px 6px var(--light);
}

.btn-linkedin {
  color: #006BA3;
  background: var(--main);
  box-shadow: inset 3px 3px 6px var(--shadow), 
              inset -3px -3px 6px var(--light);
}

.btn-gmail {
  color: #D33C30;
  background: var(--main);
  box-shadow: inset 3px 3px 6px var(--shadow), 
              inset -3px -3px 6px var(--light);
}

@media (max-width: 580px) {
  .wrapper {
    grid-gap: 5rem;
    padding: 2rem;
  }
  
  .card {
    max-width: 19.5rem;
    max-height: 30rem;
    border-radius: 1.5rem;
    box-shadow:  1.5rem 1.5rem 3rem var(--shadow), 
                -1.5rem -1.5rem 3rem var(--light);
  
  }
  
  .card h1 {
    padding-bottom: .6em;
    font-size: 1.65em;
  }
  
  .card h4 {
    padding-bottom: .6em;
  }
  
  .pp {
    max-width: 10rem;
  }

  .btn-large {
    height: 2.25rem;
    width: 12rem;
    border-radius: 0.75rem;
    font-size: 1.15rem;
    letter-spacing: 0.1rem;
  }
  
  .other-btn {
    grid-gap: 2rem;
  }
  
  .btn-small {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 0.75rem;
    font-size: 1rem;
  }
  
}